.computerComponent {
    position: absolute;
    left: calc(50vw - 250px);
    bottom: 45vh;

    .screenContainer {
        padding: 10px;
        background-color: rgb(77, 72, 72);
        border-radius: 15px;

        .screen {
            width: 500px;
            height: 300px;
            border-radius: 10px;
            background-color: rgb(33, 28, 28);
        }

        .reflectionsContainer {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            width: fit-content;
            height: fit-content;
            top: 30px;
            left: 30px;
            transform: rotate(-20deg);

            .reflection {
                background-color: white;
                width: 50px;
                height: 7px;
                border-radius: 10px;

                &:first-child {
                    width: 30px;
                }
            }
        }
    }

    .computerFoot {
        position: absolute;
        left: 25%;
        bottom: -48px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .partOne {
            background-color: rgb(77, 72, 72);
            border: 1px solid rgb(70 62 62);
            border-bottom: none;
            width: 150px;
            height: 35px;
        }

        .partTwo {
            background-color: rgb(77, 72, 72);
            border: 1px solid rgb(70 62 62);
            width: 250px;
            height: 10px;
            border-radius: 2px;
        }
    }
}
